<!-- <div class="marquee"> -->
<div class="marquee">
  <figure *ngFor="let img of images">
    <img alt="images" src="{{img.src}}">
  </figure>
</div>
<div class="marquee2">
  <figure *ngFor="let img of images">
    <img alt="images" src="{{img.src}}">
  </figure>
</div>
<!-- <figure>
    <img src="../../../../assets/images/banner_2.jpg" alt="image01" />
    <input type="radio" name="radio-set" checked="checked" />
    <figcaption><span>Royal</span></figcaption>
    <figcaption><i class="fa fa-facebook"></i></figcaption>
    <figure>
      <img src="../../../../assets/images/banner_1.jpg" alt="image02" />
      <input type="radio" name="radio-set" />
      <figcaption><span>Elegant</span></figcaption>
      <figure>
        <img src="../../../../assets/images/banner_5.jpg" alt="image02" />
        <input type="radio" name="radio-set" />
        <figcaption><span>Serenity</span></figcaption>
        <figure>
          <img src="../../../../assets/images/modelling_15.jfif" alt="image02" />
          <input type="radio" name="radio-set" />
          <figcaption><span>Stylish</span></figcaption>
          <figure>
            <img src="../../../../assets/images/modelling_16.jfif" alt="image02" />
            <input type="radio" name="radio-set" />
            <figcaption><span>Glamorous</span></figcaption>
            <figure>
              <img src="../../../../assets/images/modelling_17.jfif" alt="image02" />
              <input type="radio" name="radio-set" />
              <figcaption><span>Beautiful</span></figcaption>
              <figure>
                <img src="../../../../assets/images/banner_6.jfif" alt="image02" />
                <input type="radio" name="radio-set" />
                <figcaption><span>Innocence</span></figcaption>
                <figure>
                  <img src="../../../../assets/images/banner_7.jfif" alt="image02" />
                  <input type="radio" name="radio-set" />
                  <figcaption><span>Adorable</span></figcaption>
                  <figure>
                    <img src="../../../../assets/images/banner_14.jfif" alt="image02" />
                    <input type="radio" name="radio-set" />
                    <figcaption><span>Cuteness</span></figcaption>
                    <figure>
                      <img src="../../../../assets/images/banner_10.jpeg" alt="image02" />
                      <input type="radio" name="radio-set" />
                      <figcaption><span>Fresh</span></figcaption>
                      <figure>
                        <img src="../../../../assets/images/banner_9.jpeg" alt="image02" />
                        <input type="radio" name="radio-set" />
                        <figcaption><span>Representable</span></figcaption>
                        <figure>
                          <img src="../../../../assets/images/banner_11.jpeg" alt="image02" />
                          <input type="radio" name="radio-set" />
                          <figcaption>

                            <div class="div-socialmedia-links">
                              <i class="fa fa-facebook link-social-media"></i>
                              <i class="fa fa-linkedin link-social-media"></i>
                              <i class="fa fa-pinterest link-social-media"></i>
                              <i class="fa fa-twitter link-social-media"></i>
                              <i class="fa fa-instagram link-social-media"></i>
                            </div>
                          </figcaption>
                        </figure>
                      </figure>
                    </figure>
                  </figure>
                </figure>
              </figure>
            </figure>
          </figure>
        </figure>
      </figure>
    </figure>
  </figure> -->
<!-- <div class="div-scroll-down">
    <i class="fa fa-arrow-down"></i>
  </div> -->
<!-- </div> -->
