<div class="ia-container">
  <figure>
    <img src="../../../../assets/images/banner_2.jpg" alt="image01" />
    <input type="radio" name="radio-set" checked="checked" />
    <figcaption><span>True Colors</span></figcaption>
    <figure>
      <img src="../../../../assets/images/banner_1.jpg" alt="image02" />
      <input type="radio" name="radio-set" />
      <figcaption><span>Sunshine</span></figcaption>
      <figure>
        <img src="../../../../assets/images/banner_5.jpg" alt="image02" />
        <input type="radio" name="radio-set" />
        <figcaption><span>Moon Light</span></figcaption>
        <figure>
          <img src="../../../../assets/images/modelling_15.jfif" alt="image02" />
          <input type="radio" name="radio-set" />
          <figcaption><span>Moon Light</span></figcaption>
          <figure>
            <img src="../../../../assets/images/modelling_16.jfif" alt="image02" />
            <input type="radio" name="radio-set" />
            <figcaption><span>Moon Light</span></figcaption>
            <figure>
              <img src="../../../../assets/images/modelling_17.jfif" alt="image02" />
              <input type="radio" name="radio-set" />
              <figcaption><span>Moon Light</span></figcaption>
              <figure>
                <img src="../../../../assets/images/banner_6.jfif" alt="image02" />
                <input type="radio" name="radio-set" />
                <figcaption><span>Moon Light</span></figcaption>
                <figure>
                  <img src="../../../../assets/images/banner_7.jfif" alt="image02" />
                  <input type="radio" name="radio-set" />
                  <figcaption><span>Moon Light</span></figcaption>
                  <figure>
                    <img src="../../../../assets/images/banner_14.jfif" alt="image02" />
                    <input type="radio" name="radio-set" />
                    <figcaption><span>Moon Light</span></figcaption>
                    <figure>
                      <img src="../../../../assets/images/banner_10.jpeg" alt="image02" />
                      <input type="radio" name="radio-set" />
                      <figcaption><span>Moon Light</span></figcaption>
                      <figure>
                        <img src="../../../../assets/images/banner_9.jpeg" alt="image02" />
                        <input type="radio" name="radio-set" />
                        <figcaption><span>Moon Light</span></figcaption>
                        <figure>
                          <img src="../../../../assets/images/banner_11.jpeg" alt="image02" />
                          <input type="radio" name="radio-set" />
                          <figcaption><span>Moon Light</span></figcaption>
                        </figure>
                      </figure>
                    </figure>
                  </figure>
                </figure>
              </figure>
            </figure>
          </figure>
        </figure>
      </figure>
    </figure>
  </figure>
</div>
