<!-- <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template *ngFor="let item of images" ngbSlide slideInOut class="carousel-item">
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{item.src}}" alt="First slide">
    </div>
  </ng-template>
 <ng-template ngbSlide slideInOut class="carousel-item">
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide slideInOut class="carousel-item">
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </div>
  </ng-template> 
  <ngb-carousel> -->
<img class="circle" src="../../../../assets/images/banner_2.jpg">
