<div style="text-align: center;    margin-top: -2%;">
  <span class="aboutus-title">About Us</span>
  <p class="aboutus-para">
    Shuttrbug offers you a seamless experience to book city’s finest photographers to capture your special moments and
    make them yours for lifetime!
    We at Shuttrbug strive hard to bring hand-picked photographer to you that will cater to your requirements for any
    events like wedding, corporate photoshoot, personal photoshoot etc.
    At Shuttrbug you get variety of options of photographers based on your budget, location, time. You can chose any
    photographer based on his portfolio, reviews in easy hassle free manner.
    So all you people, lets say cheese and smile! As we capture your moments and lock them in your memory lane forever!
  </p>
  <div class="div-socialmedia-links">
    <i class="fa fa-facebook link-social-media"></i>
    <i class="fa fa-linkedin link-social-media"></i>
    <i class="fa fa-pinterest link-social-media"></i>
    <i class="fa fa-twitter link-social-media"></i>
    <i class="fa fa-instagram link-social-media"></i>
  </div>
</div>
