::ng-deep .cdk-overlay-container {
  float: right;
  width: 20% !important;
  min-height: 40vh;
  max-height: auto;
  overflow: hidden !important;
}

.menu-container {
  float: right;
}

.title-position {
  // margin-left: 57%;
}
