<!-- <div fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch" style="background-color: #ffffff;">
  <mat-toolbar color="primary" class="topbar telative">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start strecth">
      <div fxFlex="50" fxLayout="row" fxFlexAlign="start center">
        <img class="header-logo" alt="logo" src="../../../../../assets/logos/shuttrbug.png">
      </div>

      <div fxFlex="50" fxLayout="row" fxFlexAlign="end stretch">
        <mat-toolbar-row id="matMenus">
          <button class="header-menu-item" [routerLink]="'/home'" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}">
            Home
          </button>
          <button class="header-menu-item" [routerLink]="'/application'" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: false}">
            Gallery
          </button>
          <button class="header-menu-item" [routerLink]="'/vehicles'" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: false}">
            Our Categories
          </button>
          <button class="header-menu-item" [routerLink]="'/vehicles'" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: false}">
            Contact Us
          </button>
        </mat-toolbar-row>
      </div>
    </div>
  </mat-toolbar>

</div> -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
