::ng-deep .cdk-overlay-container {
  float: right;
  width: 20% !important;
  min-height: 40vh;
  max-height: auto;
  overflow: hidden !important;
}

.menu-container {
  float: right;
}

.title-position {
  // margin-left: 57%;
  //margin-left: 60%;
}

.header-menu-item {
  border: none;
  background: white;
  padding: 20px;
  font-size: 14px;
  color: #4b5d67;
}

.header-logo {
  height: auto;
  padding: 20px;
  width: 20%;
  margin-top: 5%;
}


#matMenus {
  height: 150px;
}
