::ng-deep .cdk-overlay-container {
  float: right;
  width: 20% !important;
  min-height: 40vh;
  max-height: auto;
  overflow: hidden !important;
}


.menu-container {
  float: right;
}

// .title-position {
//   // margin-left: 57%;
//   //margin-left: 60%;
// }

.header-menu-item {
  border: none;
  background: white;
  padding: 30px;
  font-size: 18px;
  margin-top: 10%;
  font-weight: 500;
  color: #ffa36c;
}

.header-logo {
  height: auto;
  padding: 20px;
  width: 24%;
  margin-top: 7%;
}


#matMenus {
  height: 150px;
  margin-left: 13%;
}
