<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div class="howitworks-title-container">
      <span class="howitworks-title">How It Works?</span>
    </div>
    <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxflex="20" fxLayout="column " fxLayoutAlign="start stretch" class="howitworks-para">
        <img src="../../../../assets//logos/icons8-camera-100.png" class="howitworks-image" />
      </div>
      <div fxflex="20" fxLayout="column" fxLayoutAlign="start stretch" class="category-title">
        <span class="howitworks-title">Choose Category</span>
      </div>

    </div>
  </div>
</div>
<!-- <div>
    <img src="../../../../assets//logos/icons8-camera-100.png" />
  </div> -->
