<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div class="howitworks-title-container">
      <span class="howitworks-title">How It Works?</span>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" style="text-align: center;">
      <div fxFlex="33" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxflex="20" fxLayout="column " fxLayoutAlign="start stretch" class="howitworks-para">
          <img src="../../../../assets/logos/icons8-camera-100.png" class="howitworks-image" />
        </div>
        <div fxflex="30" fxLayout="column" fxLayoutAlign="start stretch" class="category-title"
          style="    margin-left: 19%;">
          <span class="howitworks-title-inner">Choose Category</span>
        </div>
        <div fxflex="10" fxLayout="column" fxLayoutAlign="start stretch" class="category-title">
          <span class="howitworks-details">Far far away, behind the word mountains, far from the countries Vokalia and
            Conso nantia, there live the blind texts. Separated they live in Bookmarksgrove.</span>
        </div>

      </div>
      <div fxFlex="33" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxflex="20" fxLayout="column " fxLayoutAlign="start stretch" class="howitworks-para">
          <img src="../../../../assets/logos/reel.png" class="howitworks-image" />
        </div>
        <div fxflex="30" fxLayout="column" fxLayoutAlign="start stretch" class="category-title"
          style="    margin-left: 9%;">
          <span class="howitworks-title-inner">Let Us Know When And Where?</span>
        </div>
        <div fxflex="20" fxLayout="column" fxLayoutAlign="start stretch" class="category-title">
          <span class="howitworks-details">Far far away, behind the word mountains, far from the countries Vokalia and
            Conso nantia, there live the blind texts. Separated they live in Bookmarksgrove.</span>
        </div>

      </div>
      <div fxFlex="33" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxflex="20" fxLayout="column " fxLayoutAlign="start stretch" class="howitworks-para">
          <img src="../../../../assets/logos/spotlight.png" class="howitworks-image" />
        </div>
        <div fxflex="30" fxLayout="column" fxLayoutAlign="start stretch" class="category-title"
          style="    margin-left: -8%;">
          <span class="howitworks-title-inner">Choose From Our Handpicked Photographers As Per Your Budget</span>
        </div>
        <div fxflex="20" fxLayout="column" fxLayoutAlign="start stretch" class="category-title"
          style="text-align: center;">
          <span class="howitworks-details">Far far away, behind the word mountains, far from the countries Vokalia and
            Conso nantia, there live the blind texts. Separated they live in Bookmarksgrove.</span>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div>
    <img src="../../../../assets//logos/icons8-camera-100.png" />
  </div> -->
